body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 15vh;
    border: 1px solid red;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 500px;
    border: 1px solid red;
}

.notifications {
    border: 1px solid red;
}

.profile {
    border: 1px solid red;
}

.big-profile {
    border: 1px solid red;
}

.buttons {
    grid-column: 3 / 4;
    border: 1px solid red;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    border: 1px solid red;
}

.sidebar li {
    list-style: none;
}

.content {
    grid-column: 2 / 3;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid red;
}

.article-area {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid red;
}

.article {
    border: 1px solid red;
}

.content-sidebar {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 1px solid red;
}

.trending {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid red;
}